---
import FormattedDate from "#components/formatted-date.astro";
import Link from "#components/link.astro";
import ShareLinks from "#components/share-links.astro";
import Tag from "#components/tag.astro";
import Layout from "#layouts/layout.astro";
import type { CollectionEntry } from "astro:content";

/** props for the post layout */
type Props = {
  /**
   * post to render
   */
  post: CollectionEntry<"posts">;
};
const { post } = Astro.props;
---

<Layout
  title={post.data.title}
  description={`${post.data.title} – por ${post.data.authors}.`}
>
  <article>
    <header class="my-6">
      <!-- title -->
      <h1 class="italic">{post.data.title}</h1>

      <div class="my-6 flex flex-wrap items-end gap-x-3 gap-y-6">
        <!-- author(s) -->
        <span class="text-xl">{post.data.authors}</span>

        <!-- publication date -->
        <FormattedDate
          date={post.data.pubDate}
          showCalendar
        />
      </div>

      <!-- original publication -->
      {
        post.data.originalPub && (
          <p>
            Publicado originalmente en
            {post.data.originalPub.url ? (
              <Link href={post.data.originalPub.url}>
                {post.data.originalPub.publisher}
              </Link>
            ) : (
              post.data.originalPub.publisher
            )}
          </p>
        )
      }

      <!-- tags -->
      <ul class="my-6 flex flex-wrap gap-x-3 gap-y-5 py-1.5">
        {
          post.data.tags.map((tag) => (
            <li>
              <Tag name={tag} />
            </li>
          ))
        }
      </ul>

      <!-- social share links -->
      <ShareLinks class="my-6" />
    </header>

    <!-- post body -->
    <div class="my-6">
      <slot />
    </div>
  </article>
</Layout>
