---
import FormattedDate from "#components/formatted-date.astro";
import Link from "#components/link.astro";
import ShareLinks from "#components/share-links.astro";
import Tags from "#components/tags.astro";
import Layout from "#layouts/layout.astro";
import Image from "astro/components/Image.astro";
import type { CollectionEntry } from "astro:content";

/** props for the post layout */
type Props = {
  /**
   * post to render
   */
  post: CollectionEntry<"posts">;
};
const { post } = Astro.props;
---

<Layout
  title={post.data.title}
  description={`${post.data.title} – por ${post.data.authors}.`}
  image={post.data.headerImg}
  breadcrumbs
>
  <article>
    <header class="my-6">
      <div class="italic">
        <!-- title -->
        <h1>{post.data.title}</h1>

        <!-- subtitle -->
        {
          post.data.subtitle && (
            <span class="text-2xl lg:text-3xl">{post.data.subtitle}</span>
          )
        }
      </div>

      <div class="my-6 flex flex-wrap items-end gap-x-3 gap-y-6">
        <!-- author(s) -->
        <span class="text-xl">{post.data.authors}</span>

        <!-- publication date -->
        <FormattedDate
          date={post.data.pubDate}
          showCalendar
        />
      </div>

      <!-- header image -->
      {
        post.data.headerImg && (
          <figure class="my-6 aspect-[2/1] w-full overflow-hidden border-2 lg:aspect-[5/2]">
            <Image
              src={post.data.headerImg}
              alt="Imagen de cabecera"
              loading="lazy"
              width={1200}
              height={630}
              class="h-full w-full object-cover transition-transform duration-1500 ease-in-out hover:scale-105"
            />
          </figure>
        )
      }

      <!-- original publication -->
      {
        post.data.originalPub && (
          <p>
            Publicado originalmente en
            {post.data.originalPub.url ? (
              <Link href={post.data.originalPub.url}>
                {post.data.originalPub.publisher}
              </Link>
            ) : (
              post.data.originalPub.publisher
            )}
          </p>
        )
      }

      <!-- tags -->
      <Tags
        tagNames={post.data.tags}
        class="my-6"
      />

      <!-- social share links -->
      <ShareLinks class="my-6" />
    </header>

    <!-- post body -->
    <div class="my-6">
      <slot />
    </div>
  </article>
</Layout>
